p {
    color: rgb(4, 56, 134);
    font-size: 24px;
    border-style: outset;
    border-color: rgb(34, 62, 174);
    border-radius: 8px;
    border-width: 6px;
    background-image: linear-gradient(rgb(247, 171, 171),rgb(247, 184, 113));
}

body {
    margin: 0px;
    padding: 0px;
}
/* selector {
    propery: value;
    propery: value;
    propery: value;
} */